$max-width: 1920px;
$text-color: #fff;
$background: linear-gradient(#0069e3, #0056ba);

$professor-girafales-height: 376px;
$dona-florinda-height: 300px;
$quico-height: 324px;
$chaves-height: 324px;
$chiquinha-height:306px;
$seu-madruga-height: 376px;
$dona-clotilde-height: 360px;
 